<!DOCTYPE html>
<html lang="<%= I18n.locale%>">
  <head>
    <title><%= t(".title")%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render "layouts/header" %>
    <%= render "layouts/messages" %>
  </head>


  <body>
    <ul>
      <% I18n.available_locales.each do |locale| %>
        <% if I18n.locale != locale %>
        <li>
          <%= link_to t(".lang.#{locale}"), url_for(locale: locale) %>
        </li>
        <% end %>
        <% end %>
    </ul>
    
    <%= yield %>
  </body>

</html>
